@page "/comments"
@using FeedbackWebApp.HttpClients
@inject IFeedbackHttpClient FeedbackHttpClient

<PageTitle>Comments</PageTitle>

<div class="container">
    <div class="row">
        <p>Enter Comments:</p>
        <textarea @bind=@FeedbackText
                id="comments-area"
                cols="40"
                rows="5"
                disabled="@(PageState == PageStateType.Submitting)"></textarea>
    </div>
    <div class="row p-2">
        @if (PageState == PageStateType.Submitting)
        {
            <p>Submitting...</p>
        }
        else if(PageState == PageStateType.Initial)
        {
            <button id="submit-btn" @onclick="SubmitFeedbackAsync" class="btn-primary">Submit</button>
        }
        else if(PageState == PageStateType.Submitted)
        {
            <p id="comment-confirmation">Comment submitted</p>
        }
    </div>

    @if (!string.IsNullOrWhiteSpace(ErrorResult))
    {
        <div class="row">
            <p class="text-danger">Error: @ErrorResult</p>
        </div>
    }
</div>

@code {

    private PageStateType PageState { get; set; } = PageStateType.Initial;
    private string FeedbackText { get; set; } = "";
    private string ErrorResult { get; set; } = "";

    private async Task SubmitFeedbackAsync()
    {
        await UpdatePageStateAsync(PageStateType.Submitting);
        var result = await FeedbackHttpClient.SubmitCommentsAsync(FeedbackText);

        if (result.IsSuccessStatusCode)
        {
            FeedbackText = "";
            await UpdatePageStateAsync(PageStateType.Submitted);
        }
        else
        {
            ErrorResult = await result.Content.ReadAsStringAsync();
            await UpdatePageStateAsync(PageStateType.Initial);
        }
    }

    private async ValueTask UpdatePageStateAsync(PageStateType newValue)
    {
        PageState = newValue;
        await InvokeAsync(StateHasChanged);
    }

    public enum PageStateType
    {
        Initial,
        Submitting,
        Submitted
    }
}